* {
    box-sizing: border-box;
  }
  
  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 22px;
  }

  /* main */
  
  #main-container {
    /* padding-top: 130px; */
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
/* Project */
/*  SECTIONS  */
.section {
	clear: both !important;
	padding: 0px !important;
	margin: 0px !important;
}

/*  COLUMN SETUP  */
.col {
	display: block !important;
	float:left !important;
	margin: 1% 0 1% 1.6% !important;
}
.col:first-child { margin-left: 0 !important;  }

/*  GROUPING  */
.group:before,
.group:after { content:"" !important; display:table !important; }
.group:after { clear:both !important;}
.group { zoom:1 !important; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100% !important; }
.span_2_of_3 { width: 66.13% !important; }
.span_1_of_3 { width: 32.26% !important; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px ) {
	.col {  margin: 1% 0 1% 0% !important; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100% !important; }
}

.centerThis{
    margin: auto; 
    width: 80%; 
}

.work{
    text-align: center; 
    
}


/* Contact */
/* form{
    width: 800px; 
    height: 900px; 
    margin-left: auto; 
    margin-right: auto; 
} */

/* .overflow-wrap {
    overflow-wrap: break-word;
  }
   */

.btn.btn-primary{
    background-color: lightgrey;
    color: black; 
}

@media only screen and (max-width: 980px){
    body {
      
    }
    
  }
  
  @media only screen and (max-width:768px){
    body {
    
    }

  }
  
  @media only screen and (max-width: 640px){
    body {
     
    }
   
    .col{
      width:100%; 
    }
      
  } 

  /* .card-bio {
    border-radius: 50%; 
 }
 
 .bio-container {
     float: center;
     height: 500px; 
     width: 1200px; 
 }
 
 .picture{
     float: left; 
 }
 
 .card{
     position: relative;
     left: 350px; 
     top: -300px;  
     width: 300px; 
 } */